/*
Added some styling just to fresh up on CSS. Much has been forgotten.
*/

body {
  width: 1200px;
  margin: auto;
}

h1,
.error {
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.dataBox {
  width: 260px;
  height: 260px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border: 2.5px solid black;
  margin: 5px;
  border-radius: 5%;
}

.dataContainer {
  margin: 0 auto;
  display: flex;
  align-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

/*

Made a simple loading animation, but the call to the API is so fast it only shows for a split second.

*/

.dataContainer span {
  margin: 3px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: black;
  display: inline-block;
  animation-name: loader;
  animation-duration: 5s;
  animation-iteration-count: 1000;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 1s;
}

.dot3 {
  animation-delay: 2s;
}

@keyframes loader {
  0% {
    background: black;
  }
  50% {
    background: white;
  }
  100% {
    background: black;
  }
  50% {
    background: white;
  }
  0% {
    background: black;
  }
}
